* {
    margin: 0px; 
    padding: 0px;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    height: 50px;
}

.board {
    background-color: #482c00e0;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 2px solid black;
    justify-content: center;
}

.tile {
    background-color: beige;
    width: 90%;
    height: 90%;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    transition: background-color 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.O {
    background-color: cyan;
}

.X {
    background-color: pink;
}

.tile:hover {
    background-color: rgb(158, 252, 179);
}

.restart {
    width: 400px;
    height: 50px;
    margin-top: 10px;
}